<section>
  <%= page_title 'What is DevCon?' %>

  <p>DevCon is a one-day community-organised internal conference for the BT and Inoovation Martlesham developer community to share knowledge and experience. The day consists of a series of talks proposed and chosen by the people in the community, usually followed by a trip to the pub afterwards!</p>

  <p>The idea of DevCon is to get the software community together to talk about interesting things and learn about a few things that maybe you thought BT developers never did! In the past we’ve had talks like <em>Developing Skynet (or an introduction to machine learning)</em> and <em>Docker - The future of application delivery?</em>. This year we have also opened up the invite to the other companies in the Innovation Martlesham cluster and have had a talk proposed by the previous head of testing across digital for News UK.</p>

  <p>If all of this sounds interesting to you, sign in and have a look at the proposals; if you’re feeling extra brave you can even propose a talk! If you sign in we will keep you up to date with information about the event like when the proposals are open for voting on and the schedule for the day.</p>

  <p>DevCon X is scheduled for November 27th (probably  from around 9am until 4pm), so keep that day free if you’re interested in attending. If you have any questions in the meantime, feel free to <a href="mailto:devcon-plotting@ossig.bt.com">get in touch</a>.</p>
</section>

<section>
  <h2>What is Vestibule?</h2>

  <p>Vestibule (this site) is a tool to help us &mdash; the community &mdash; generate and prepare the contents of the day (blatantly stolen from <a href="http://rubymanor.org/">Ruby Manor</a>).</p>

  <p>The idea is simple. You propose a presentation. Others will help you refine and focus it by making <em>suggestions</em>. You keep updating your proposal bearing those suggestions in mind.</p>

  <p>At some point (yet to be determined), we&rsquo;ll then collectively whittle down the set of proposals to those that have been selected for the day.</p>

  <p><%= link_to "Read more about the Vestibule process", the_vestibule_process_path, class: "btn btn-primary" %></p>
</section>
