 <section>
  <h1>What is DevCon?</h1>

  <p>DevCon is a one-day community-organised internal conference for the BT developer community to share knowledge and experience. The day consists of a series of talks proposed and chosen by the people in the community (that&rsquo;s you)</p>

  <p>The idea of DevCon is to get the software community together to talk about interesting things and learn about a few things that maybe you thought BT developers never did! In the past, when we&rsquo;ve run this kind of event before, we&rsquo;ve had talks on topics as diverse as experiences with new  languages, machine learning, if-less programming and even (non-work) projects involving search and rescue drones. Basically, if it&rsquo;s related to software development, it could be a DevCon topic.</p>

  <p>If all of this sounds interesting to you, sign in and have a look at the proposals, but more importantly please propose a talk &ndash; without speakers the event can&rsquo;t happen! If you sign in we will keep you up to date with information about the event like when the proposals are open for voting on and the schedule for the day.</p>

  <p>The event itself will probably happen some time in early 2019. If you have any questions in the meantime, feel free to <a href="devcon-plotting@devlists.bt.com">get in touch</a>.</p>
</section>

<section>
  <h2>What is Vestibule?</h2>

  <p>Vestibule (this site) is a tool to help us &ndash; the community &ndash; generate and prepare the contents of the day (the system is blatantly stolen from <a href="http://rubymanor.org/">Ruby Manor</a>, if you&rsquo;re interested).</p>

  <p>The idea is simple. You propose a presentation. Others will help you refine and focus it by making <em>suggestions</em>. You keep updating your proposal bearing those suggestions in mind.</p>

  <p>At some point, you&rsquo;ll be able to vote for the presentations you&rsquo;d most like to see. We&rsquo;ll then collectively whittle down the set of proposals to those that have been selected for the day.</p>

  <p><%= link_to "Read more about the Vestibule process", the_vestibule_process_path, class: "btn btn-primary" %></p>
</section>
